<!DOCTYPE html>
<html>
    <head>
        <title>Rakhi's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Rakhi's Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>You would get many things in life in your way, but you need to choose which is good for you, that is the vital part, I am currently on that situation, dont know what to do, Please god help me</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Keep believing yourself</p>
        </article>
    </body>
</html>